.answer-item{
    background-color:  #006A71;
    color: white;
    border-radius: 10px;
    padding: 3vw 7vw;
    transition: all 0.2s ease-in-out;
    font-size: 2vw;
    font-family: monospace;
}

.answer-item:hover{
    cursor: pointer;
    background-color: #9ACBD0;
    transform: scale(1.06);
}
.percent-item {
    position: relative;
    background-color: rgba(72, 165, 167, 0.3411764706);
    color: white;
    border-radius: 10px;
    padding: 10px 12.5px 10px 20px; 
    font-family: monospace;
    font-size: 2vw;
    overflow: hidden;
}

