.answer-item{
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 70px 125px;
    transition: transform 0.2s ease-in-out;
    font-size: 2vw;
    font-family: monospace;
}

.answer-item:hover{
    cursor: pointer;
    transform: scale(1.06);
}
.percent-item {
    position: relative;
    background-color: #333333a8;
    color: white;
    border-radius: 10px;
    padding: 12.5px 10px 12.5px 15px; 
    font-family: monospace;
    font-size: 2vw;
    overflow: hidden;
}

/* Barre de remplissage */
.percent-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percent, 0%);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur de remplissage */
    transition: width 0.5s ease-in-out;
    z-index: -1;
}

