<div class="player-stats-container" *ngIf="profile && !isQuizSelected">

  <app-player-stats-header [profile]="profile" [profileId]="profileId">
  </app-player-stats-header>


  <app-player-stats-therapy-metrics [totalHintsUsed]="totalHintsUsed" [avgTimeBetweenAnswers]="avgTimeBetweenAnswers"
    [correctAnswersPercent]="correctAnswersPercent" [incorrectAnswersPercent]="incorrectAnswersPercent">
  </app-player-stats-therapy-metrics>

  <app-player-stats-progression [monthlyPerformance]="monthlyPerformance" [activeTab]="activeTab"
    (tabChange)="setActiveTab($event)">
  </app-player-stats-progression>


  <app-player-stats-quiz-history [quizResults]="quizResults" (viewDetailsEvent)="viewQuizDetails($event)">
  </app-player-stats-quiz-history>
</div>

<div *ngIf="profile && isQuizSelected">
  <app-quiz-result-details></app-quiz-result-details>
</div>