.multiplayer-game-setup-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.multiplayer-game-setup-sidebar { 
  grid-area: 1 / 1 / 2 / 2;
 }

.profile-list { 
  grid-area: 1 / 2 / 2 / 3; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
  
.right-side{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiplayer-game-setup-title{
  font-size: 3vw;
  margin-bottom: 0px;
  font-family: "Arial", sans-serif;
}

.side-separator{
  height: 1px;
  background-color: #333;
  width: 85%;
  margin: 5vh 0px;
}