.multiplayer-game-setup-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.multiplayer-game-setup-sidebar { 
  grid-area: 1 / 1 / 2 / 2;
 }

.profile-list { 
  grid-area: 1 / 2 / 2 / 3; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: 100vh;
}
  