@import '/src/app/color-palette.scss';

.reponses {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

#quiz-answer {
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
  margin-left: 10%;
}

#quiz-answer:focus {
  border-bottom: $primary-border-white;
}

.toggle {
  appearance: none;
  width: 20px;
  height: 20px;
  border: $primary-border-white;
  border-radius: 4px;
  background-color: $primary-white-bg;
  cursor: pointer;

}

.toggle:checked {
  background-color: $primary-blue-bg;
}

#delete-answer{
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
}
