.setting-btn{
    position: absolute;
    top: 5%;
    left: 90%;
}

.leave-btn{
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.button{
    padding: 10px 20px;
    background-color: #e4b800;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

