@import '/src/app/color-palette.scss';

#add-profile {
  background-color: #4CAF50; /* Vert doux */
  color: white;
  padding: 10px 20px;
  margin-left: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

#add-profile:hover {
  background-color: #45a049; /* Vert un peu plus foncé au survol */
  transform: scale(1.05);
}

#add-profile:active {
  background-color: #3e8e41;
  transform: scale(1);
}

  app-profile-list {
    list-style-type: none;
    padding: 0;
    a {
      text-decoration: none;
      color: $primary-black-text;
    }
  }

  .search-input {
    width: 100%;
    border: $primary-border-white;
    outline: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: $primary-white-bg;
    color: $primary-black-text;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .profile-list-section{
    margin-top: 20px;
  }

  .setup{
    padding: 2em;
    border-radius: 10px;
    box-shadow: $primary-box-shadow;
  }