@import '/src/app/color-palette.scss';

.home-container {
  background: $primary-white-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}


.admin-log-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); // assombrit légèrement pour plus de focus
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5vh);
}

.code-page-container {
  background-color: $primary-white-bg;
  padding: 6vh 6vh 9vh 6vh;
  border-radius: 2vh;
  box-shadow: 0 1vh 3vh rgba(0, 106, 113, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInScale 0.4s ease-out;
  z-index: 20;
  width: 50vh;

  h2 {
    color: $primary-blue-bg;
    font-family: "Unbounded", sans-serif;
    font-size: 3vh;
    margin-bottom: 3vh;
    text-align: center;
  }
}

.code-inputs {
  display: flex;
  gap: 3vh;
}

.code-inputs input {
  width: 8vh;
  height: 8vh;
  font-size: 5vh;
  text-align: center;
  border: $primary-border-white;
  border-radius: 1.5vh;
  background-color: $primary-white-bg;
  transition: box-shadow 0.2s, transform 0.2s;
  outline: none;

  &:focus {
    box-shadow: 0 0 1vh $primary-blue-bg;
    transform: scale(1.05);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.frallo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.hidden{
  display:none;
}


.admin-button {
  position: fixed;
  top: 2vh;
  left: 2vh;
  padding: 1.2vh 2.4vh;
  background-color: $primary-blue-bg;
  color: $primary-btn-white-text;
  border: none;
  border-radius: 1vh;
  font-size: 1.8vh;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: $primary-box-shadow;
  letter-spacing: 0.05vh;
}

.admin-button:hover {
  background-color: $primary-btn-blue-hover;
  transform: translateY(-0.3vh);
  box-shadow: $primary-box-shadow;
}


.results-list {
  list-style-type: none;
  padding: 0;

  a {
    text-decoration: none;
    color: $primary-black-text;
  }
}

.profile-list-container {
  width: 71vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 2vh;
  padding: 2vh 2vh;
  gap: 2vh;
  top: calc(min(18vh,12vw) + 5vh);
  animation: slideInUp 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-3vh);
  z-index: 3;

  min-height: 50vh;
  overflow: hidden;

  max-height: 70vh;
}




@keyframes slideInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-page-title {
  font-size: min(15vh,10vw);
  font-weight: bold;
  color: $primary-blue-text;
  font-family: "Unbounded", sans-serif;
  position: absolute;
  top: calc(min(3vh,2vw) + 5vh);
  text-align: center;
  animation: slideOutDown 0.4s ease-in-out forwards;
  transform: translateY(0);
  user-select: none;
}

@keyframes slideOutDown {
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}

#wave-svg{
  position: fixed;
  bottom: 0%;
  transform: translateY(10vh);
}

.error-message {
  color: #f66060;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-weight: bold;
}
