@import '/src/app/color-palette.scss';

.header-card-section{
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50%;
}

.quiz-item {
  width: 20vw;
  height: 15vh;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: $primary-border-white;
  background-color: $secondary-white-bg;
  transition: all 0.2s ease-in-out;
}

.quiz-item-title{
  margin: 0px;
  width: 70%;
}

.button-section{
  width: 30%;
}

.button{
  border: none;
  background: none;
  padding: 5px;
  border-radius: 5px;
}


.button:hover{
  background: $primary-btn-white-hover;
  cursor: pointer;
}

.launch-game-btn{
  background-color: $secondary-blue-bg;
  border: none;
  color: $primary-white-text;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
  font-size: 17px;
  height: 40%;
}

.launch-game-btn:hover{
  background-color: $secondary-btn-blue-hover;
  cursor: pointer;
}
