.quiz-item {
  width: 350px;
  min-height: 150px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.quiz-item:hover {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.button{
  margin-top: 10px;
  border: none;
  background: none;
  padding: 5px;
  border-radius: 5px;
}

.button:hover{
  background: #d7d7d7;
  cursor: pointer;
}

.launch-multi-game-btn{
  background-color: #2c3e50;
  border: none;
  color: #f2f2f2;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
}

.launch-multi-game-btn:hover{
  background-color: #243241;
  cursor: pointer;
}
