@import '/src/app/color-palette.scss';

.button{
    padding: 10px 20px;
    height: 3rem;
    background-color: $third-blue-btn;
    color: $primary-btn-white-text;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.button:hover{
    background: $secondary-btn-blue-hover;
}


#leave-btn{
    position: absolute;
    width: 8rem;
    left: 5%;
    bottom: 5%;
    z-index: 20;
}

.join-game-section{
    background-color:$primary-white-bg;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.join-game-container{
    background-color: $primary-blue-bg;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    width: 30%;
}

.input-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.join-game-code-input{
    height: 50px;
    font-size: 20Px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;

}

.join-game-title{
    margin: 0px;
    font-weight: bold;
    color: $primary-white-text;
    user-select: none;
}

.separator{
    height: 1px;
    color: $primary-white-bg;
    background-color: $primary-white-bg;
    width: 80%;
    margin-left: 0px;
    margin-right:0px;
}

.wave{
    position: absolute;
    z-index: 15;
}

#top-wave{
    top: 0px;
    left: 0px;
    transform: translateY(-6vh);
}
