.gamemode-name{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: monospace;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: white;
}

.multiplayer{
    background-color: #48A6A7;
}
.solo{
    background-color:#006A71;
}
.multiplayer:hover{
    cursor: pointer;
    background-color: white;
    color: #48A6A7;
}
.solo:hover{
    cursor: pointer;
    background-color: white;
    color: #006A71;
}