@import '/src/app/color-palette.scss';

.select-quiz-section{
   background-color: $primary-white-bg;
    height: 100vh;
    width: 100%;
    color: $primary-black-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.select-quiz-title{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color:$primary-black-text;
    font-weight: bold;
    margin-top: 5vh;
}

.button{
    padding: 10px 20px;
    width: 8rem;
    height: 3rem;
    background-color: $third-blue-btn;
    color: $primary-btn-white-text;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.button:hover{
    background: $secondary-btn-blue-hover;
}


#leave-btn{
    position: fixed;
    left: 5%;
    bottom: 5%;
    z-index: 15;
}

.select-quiz-container{
    //background-color: $secondary-blue-bg;
    padding: 0px 2vw 3vh 2vw;
    border-radius: 10px;
    //box-shadow: $primary-box-shadow;
}

.wave{
    position: fixed;
    bottom: 0px;
    transform: translateY(5vh);
}