@import '/src/app/color-palette.scss';

.waiting-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius: 10px;
    width: 30%;
    background-color: $primary-blue-bg;
    padding: 2rem;
    text-align: center;
    user-select: none;
}

.wave{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}

#leave-btn{
    background-color: $primary-white-btn;
    color: $primary-black-text;
    z-index: 3;
}

#leave-btn:hover{
    background-color: $primary-btn-white-hover;
}

.button {
    padding: 10px 20px;
    color: $primary-white-btn;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    width: 12vw;
    height:8vh;
    transition: all 0.2s ease-in-out;
}

.button:hover{
    transform: scale(1.03);
    width: 13vw;
    cursor: pointer;
}

.global-container {
    background-color: $primary-white-bg;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;

}

.waiting-message {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color:$primary-white-text;
    font-weight: bold;
}

.dot-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.dot {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-white-text; 
    opacity: 0;
    animation: dotAnimation 1.5s infinite ease-in-out;
    margin: 0 5px;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes dotAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

