<div class="global-question-container">
    <div class="question-left-side" [ngClass]="{'correct-flash': showCorrectEffect}">
        <div [ngClass]="getRole() === 'admin' ? 'question-admin-container': ''">
            <div class="button-section" *ngIf="getGamemode() === 'Solo' || getRole() === 'admin'">
                <app-music-control [volume]="getVolume()" [audio_path]="getAudioPath()"></app-music-control>
            </div>

            <app-quiz-question-header [title]="getTitle()" (show_hints)="showHints()"></app-quiz-question-header>

            <hr class="left-side-separator">

            <!-- <section *ngIf="getAnswers() && getRole() === 'user'" class="answers-section">
                <div class="answers-container" *ngFor="let answer of getAnswers()"
                    [ngClass]="{'wrong-answer': isWrongAnswer(answer)}">
                    <app-quiz-answer [answer]="answer" (answer_selected)="answerSelected(answer)"
                        [ngClass]="{'hidden-answer': isWrongAnswer(answer)}"></app-quiz-answer>
                </div>
            </section>
            <section *ngIf="getAnswers() && getRole() === 'admin'" class="answers-section-admin-view">
                <div class="answers-container" *ngFor="let percent of getAnswersPercents()">
                    <app-quiz-answer [percent]="percent"></app-quiz-answer>
                </div>
            </section> -->
            <app-quiz-answers (correct_answer)="submitCorrectAnswer()"></app-quiz-answers>
        </div>
    </div>

    <app-quiz-hints [ngClass]="areHintsActive() ? 'active' : 'hidden'" class="question-right-side"></app-quiz-hints>

    <button *ngIf="getGamemode()==='Solo' || getRole() ==='admin'" (click)="nextQuestion()"
        class="next-question-btn button">Question suivante</button>
    <button *ngIf="getGamemode()==='Solo' || getRole() ==='admin'" (click)="previousQuestion()"
        class="previous-question-btn button">Question précédente</button>
        
    <app-quiz-question-pop-up *ngIf="showQuestionPopUp" (cancel_pop_pup)="CancelPopPup()" (continue_pop_pup)="nextQuestion()"></app-quiz-question-pop-up>
</div>