@import '/src/app/color-palette.scss';

.setting-btn{
    position: absolute;
    top: 5%;
    left: 90%;
}

.leave-btn{
    position: absolute;
    left: 5%;
    top: 5%;
}

.button{
    padding: 10px 20px;
    background-color:  $third-blue-btn;
    color: $primary-btn-white-text;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.button:hover{
    background-color: $secondary-btn-blue-hover;
}

.quiz-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}