$primary-white-bg: #FEFEFE;
$secondary-white-bg:#f8f9fa;
$primary-blue-bg: #0099ff;
$secondary-blue-bg: #0086e0;
$third-blue-bg:#004D80;
$primary-black-bg:#1D1D1D;

$primary-blue-btn: #0099ff;
$secondary-blue-btn:#0086e0;
$third-blue-btn: #0073C0;
$fourth-blue-btn:#004D80;
$primary-white-btn: #F0F0F0;
$primary-delete-btn:#e74c3c;

$primary-btn-white-text:#FFFDF6;
$primary-btn-blue-text:#0099ff;
$primary-btn-black-text:#1D1D1D;

$primary-btn-blue-hover: #0073C0;
$secondary-btn-blue-hover:#004D80;
$primary-btn-white-hover: #efefef;
$primary-btn-delete-hover:#c0392b;

$primary-white-text:#fefefe;
$secondary-white-text:#b1b1b1;
$primary-black-text: #1D1D1D;
$secondary-black-text:#676767;
$third-black-text:#b1b1b1;

$primary-blue-text: #0099ff;

$primary-border-white: 1px #ccc solid;
$primary-border-black:1px  #1c1c1c solid; 

$primary-success:green;


$primary-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135);