<div id="container">

  <div id = "quiz-creation-left-container">
    <div id="quiz-create">
      <h2 class="title-quiz-template">Question :</h2>
      <input type="text" class="question-input" placeholder="Entrez la question...">

      <select name="music-select" id="question-music-select" class="question-input">
      </select>
      <h2 class="title-quiz-template">Reponses :</h2>
      <p id="button-info">Cochez la case à côté de la réponse pour indiquer qu'elle est juste </p>

      <button id="add-answer" class="simple-btn">+ Ajouter réponse</button>
      <button id="add-question" class="simple-btn">Ajouter la question au quiz</button>
    </div>

  </div>
  <div id = "quiz-creation-right-container">
    <div id = "question-list">
      <h2 class="title-quiz-template">Liste des questions :</h2>

      <button id="add-listQ" class="simple-btn">+ Ajouter questions</button>
      <button id="end-quiz" class="simple-btn">Enregistrer ce quiz</button>

    </div>
  </div>
</div>
